.shop-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 1rem;
}

.logotype {
	font-family: 'Playfair Display',Georgia, serif;
	text-decoration: none;
	color: black;
	font-weight: 700;
	font-size: 2.5rem;
	padding-left: 1rem;
	transition: 0.3s;
}

.logotype:hover {
	transform: scale(1.1);
}

.shopingCart {
	align-self: center;
	font-size: 1.3rem;
	padding-right: 1rem;
	text-decoration: none;
	color: black;
}

.shopingCart .shopingCartIcon {
	font-size: 2.2rem;
	color: cadetblue;
	margin-right: 10px;
}